@import 'colours/_menu.scss';
@import 'colours/_about.scss';
@import 'colours/_carousel.scss';
@import 'colours/_servicearea.scss';
@import 'colours/_contact.scss';
@import 'colours/_allservices.scss';
ul {
  list-style: none;
  display: flex;
  margin: 0px;
  li{
    margin-right: 20px;
  }
}

a{
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  &:hover {
    color: #e3000c;
    img {
      color: black;
    }
  }
}
.App {
  // border: 0.1px solid black;
  // overflow-x: 0;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffcccc;
  // border: 0.1px solid black;
  
  
    .logo {
      height: 60px;
      width: 200px;
      // border: 0.1px solid black;
      background-color: #e3000c;
    }
  
}


@media only screen and (max-width: 600px) {//600px and below
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
      ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 0px;
    }
  }
  .select-component{ 
    margin-top: 0;
    align-items: flex-start;
    button {
      padding-left: 0
    }
  }
}
.demo-image {
  width: 400px !important;
  height: 350px;
  background-color: lightcyan
}

.body {
  margin-top: 20px;
}
.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffcccc;
  height: 40px;
  padding-left: 10px;

  .question-phone{
    .phone-num{
      margin-left: 0.25rem;
      color: #e3000c;
      font-size: 1.25rem;
    }
  }
}



.h2-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  color: #e3000c;
  hr {
    width: 30%;
    background-color: #e3000c;
    height: 4px;
  }
}

.articles-main {
  display: flex;
  justify-content: space-around;
  
  text-align: center;
  article {
    background-color: #ffcccc;
    h3 {
      color: #e3000c;
    }
    height: 250px;
    width: 30%;
    // border: 1px solid black;
    padding: 2.5px;
  }
  margin-bottom: 20px;
}